:8080 {
	header {
		-Server
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
	}
	@searxUnauthorized not header Authorization "Bearer {$SEARXNG_AUTH_TOKEN}"

	handle_path /safe-fetch/* {
		reverse_proxy safe-fetch-proxy:8080
	}

	handle {
		respond @searxUnauthorized 401

		reverse_proxy searxng:8080 {
			header_up -Authorization
		}
	}
}
